@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Naskh Arabic", serif;
}

code {
    font-family: "Noto Naskh Arabic", serif;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');